<div class='container'>
    <div class='row'>
        <div class="col-sm-6" ng-repeat="auction in posts" ng-if="auction.auctionStatus === filterStatus">

            <div data-ngCloak data-auctionId='{{auction.$id}}' class="panel panel-default {{auction.expiry}} {{auction.auctionStatus}}">
                <div class="panel-heading">
                    <!--<a ng-href="#/auction/{{auction.$id}}">-->{{auction.title| capitaliseFirstLetter }}<!--</a>-->
                </div>
                <div class="panel-body">{{auction.description}}</div>
                <table class="table">
                    <tr>
                        <th>Price</th>
                        <td>{{auction.winningBidderAmount| commaThousands}}</td>
                    </tr>
                    <tr>
                        <th>High Bidder</th>
                        <td>{{auction.winningBidder| capitaliseFirstLetter}}</td>
                    </tr>
                    <tr>
                        <th>Ending</th>
                        <td data-endtime="{{auction.endtimestamp}}">
                            {{auction.endtime| formatTime }}<br/>
                            {{auction.timeleft| dateFromNow }}
                        </td>
                    </tr>
                    <tr ng-if="auction.auctionStatus === 'complete'">
                        <th>Seller</th>
                        <td>{{auction.creatorName| capitaliseFirstLetter }}</td>
                    </tr>
                    <tr>
                        <th>Action</th>
                        <td>
                            <span class="btn-group" role="group">                                        
                                <button class="btn btn-info" 
                                        ng-click="activateAuction(auction.$id, user.profile.username, user.profile.uid)"
                                        type="button">Re-Nominate</button>
                            </span>
                            <span class="btn-group" role="group">
                                <button class="btn btn-danger" 
                                        ng-click="deleteAuction(auction)"
                                        type="button">Delete Auction</button>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>